<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eterna</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/clientpage/assets/images/icons/favicon1.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Content/clientpage/assets/css/main.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="animsition">

    <!-- Header -->
    @Html.Partial("_Header")

    <!-- Main -->
    @RenderBody()

    <!-- Footer -->
    @Html.Partial("_Footer")

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script>
        $(document).on('click', '.js-show-modal1', function (e) {
            e.preventDefault();
            var productId = $(this).data('id');

            $.get("/Products/QuickView/" + productId, function (html) {
                const content = $(html).find('.quick-view-content');
                if (content.length > 0) {
                    $(".js-modal1").empty().append(content).fadeIn().addClass("show-modal1");
                } else {
                    console.warn("Không tìm thấy .quick-view-content trong HTML");
                }
            }).fail(function (err) {
                console.error("Lỗi khi load QuickView:", err);
            });
        });

        $(document).on('click', '.js-hide-modal1', function () {
            $(".js-modal1").fadeOut().removeClass("show-modal1");
        });
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="/Content/clientpage/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Content/clientpage/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/slick/slick.min.js"></script>
    <script src="/Content/clientpage/assets/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="/Content/clientpage/assets/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
    <script src="~/Content/clientpage/assets/js/map-custom.js"></script>
    <!--===============================================================================================-->
    <!-- Button trigger modal -->
    <script>
        function ShowModal(id) {
            $.ajax({
                url: '/products/GetDetail/' + id, // The URL of the API endpoint
                method: 'GET', // The HTTP method (GET, POST, PUT, DELETE, etc.)
                // The expected data type of the response (e.g., 'json', 'xml', 'html', 'text')
                success: function (data) {
                    $("#exampleModal").show();
                    $(".modal-backdrop.fade.show").show();
                    $("#exampleModal").html(data)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // This function is executed if the request fails
                    console.error('API call failed:', textStatus, errorThrown);
                    // Handle the error here
                },
                complete: function () {
                    // This function is executed regardless of success or failure
                    console.log('API call completed.');
                }
            });
        }
        function CloseModal() {
            $("#exampleModal").hide();
            $(".modal-backdrop.fade.show").hide();
            // thì thêm đoạn này để đảm bảo scroll luôn được bật lại khi hide()
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').css('overflow', 'auto');
        }
    </script>
    @*<script>
            // Khôi phục scroll khi modal bị ẩn
            $(document).on('hidden.bs.modal', '#exampleModal', function () {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('body').css('overflow', 'auto');
            });

            // Nếu bạn đang show/hide modal thủ công (như trong code bạn)
            // thì thêm đoạn này để đảm bảo scroll luôn được bật lại khi hide()
            $(document).on('click', '[data-dismiss="modal"], .close, .btn-close', function () {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('body').css('overflow', 'auto');
            });
        </script>*@
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div>
</body>
</html>
